<!DOCTYPE html>
{% extends "base.html" %}
{% block login %}
    <link href="../static/css/sign.css" rel="stylesheet">
    <div class="container">

      <form class="form-signin" method="post">
        <h2 class="form-signin-heading">Sign up Tonight</h2>
          {{ form.hidden_tag() }}
          {{ form.url(id="inputEmail", class="form-control", placeholder="URL") }}
          {{ form.day(id="inputEmail", class="form-control", placeholder="DAY") }}
          {{ form.time(id="inputEmail", class="form-control", placeholder="TIME") }}
          {{ form.tag(id="inputEmail", class="form-control", placeholder="TAG") }}
        <button class="btn btn-lg btn-primary btn-block" type="submit">upload</button>
      </form>

    </div> <!-- /container -->
{% endblock %}