<!DOCTYPE html>
{% extends "base.html" %}
{% block tonight %}
<div class="jumbotron" style="
    background:url('http://7xj431.com1.z0.glb.clouddn.com/20151201_031351.jpg');
    color:white;">
    <h1>Night for Light</h1>
    <hr/>
    <p class="lead">
    夜晚是安静的，没有了白天的喧嚣，没有了阳光的刺眼，有的<br/>
    只是那一闪白天蓄力为了夜晚的发光。<br/>
    没有了室友开怀的笑, 耳畔是自己想听的。任凭键盘听不见的敲。<br/>
    没有了白天的浮躁。<br/>
    就像过去的自己，只会在梦中出现的回忆。<br/>
    </p>
    <p><a class="btn btn-lg btn-success" href="#" role="button">Sign up tonight</a></p>
</div>
{% endblock %}

{% block nights %}
<div class="row marketing">
    {% for night in nights %}
    <div class="col-lg-6">
        <h4>{{ night.title }}</h4>
        <p>{{ night.date }}</p>
    </div>
    {% endfor %}
</div>
{% endblock %}
