<!DOCTYPE html>
{% extends "base.html" %}
{% block tonight %}
<div class="jumbotron" style="
    background:url('http://7xj431.com1.z0.glb.clouddn.com/20151201_031351.jpg');
    color:white;">
    <h1>Night for Light</h1>
    <hr/>
    <p class="lead">
    夜晚是安静的，没有了白天的喧嚣，没有了阳光的刺眼，有的<br/>
    只是那一闪白天蓄力为了夜晚的发光。<br/>
    没有了室友开怀的笑, 耳畔是自己想听的。任凭键盘听不见的敲。<br/>
    没有了白天的浮躁。<br/>
    就像过去的自己，只会在梦中出现的回忆。<br/>
    </p>
    {% if current_user.is_authenticated %}
        <p><a class="btn btn-lg btn-success" href="/create/" role="button">Sign up tonight</a></p>
    {% else %}
        <p><a class="btn btn-lg btn-success" href="/login/" role="button">Sign up tonight</a></p>
    {% endif %}
</div>
{% endblock %}
